@font-face {
    font-family: 'Outlast Serif';
    src: url('OutlastSerif.eot');
    src: local('Outlast Serif'), local('OutlastSerif'),
        url('OutlastSerif.eot?#iefix') format('embedded-opentype'),
        url('OutlastSerif.woff2') format('woff2'),
        url('OutlastSerif.woff') format('woff'),
        url('OutlastSerif.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outlast Slab';
    src: url('OutlastSlab.eot');
    src: local('Outlast Slab'), local('OutlastSlab'),
        url('OutlastSlab.eot?#iefix') format('embedded-opentype'),
        url('OutlastSlab.woff2') format('woff2'),
        url('OutlastSlab.woff') format('woff'),
        url('OutlastSlab.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outlast';
    src: url('OutlastRegular.eot');
    src: local('Outlast'), local('OutlastRegular'),
        url('OutlastRegular.eot?#iefix') format('embedded-opentype'),
        url('OutlastRegular.woff2') format('woff2'),
        url('OutlastRegular.woff') format('woff'),
        url('OutlastRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

