@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

@font-face {
    font-family: 'Outlast Serif';
    src: url('public/font/OutlastSerif.eot');
    src: local('Outlast Serif'), local('OutlastSerif'),
    url('public/font/OutlastSerif.eot?#iefix') format('embedded-opentype'),
    url('public/font/OutlastSerif.woff2') format('woff2'),
    url('public/font/OutlastSerif.woff') format('woff'),
    url('public/font/OutlastSerif.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outlast Slab';
    src: url('public/font/OutlastSlab.eot');
    src: local('Outlast Slab'), local('OutlastSlab'),
    url('public/font/OutlastSlab.eot?#iefix') format('embedded-opentype'),
    url('public/font/OutlastSlab.woff2') format('woff2'),
    url('public/font/OutlastSlab.woff') format('woff'),
    url('public/font/OutlastSlab.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outlast';
    src: url('public/font/OutlastRegular.eot');
    src: local('Outlast'), local('OutlastRegular'),
    url('public/font/OutlastRegular.eot?#iefix') format('embedded-opentype'),
    url('public/font/OutlastRegular.woff2') format('woff2'),
    url('public/font/OutlastRegular.woff') format('woff'),
    url('public/font/OutlastRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    scroll-behavior: smooth;
    font-family: "Share Tech Mono", serif;
}