@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

@font-face {
    font-family: 'Outlast Serif';
    src: url('assets/font/OutlastSerif.eot');
    src: local('Outlast Serif'), local('OutlastSerif'),
    url('assets/font/OutlastSerif.eot?#iefix') format('embedded-opentype'),
    url('assets/font/OutlastSerif.woff2') format('woff2'),
    url('assets/font/OutlastSerif.woff') format('woff'),
    url('assets/font/OutlastSerif.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outlast Slab';
    src: url('assets/font/OutlastSlab.eot');
    src: local('Outlast Slab'), local('OutlastSlab'),
    url('assets/font/OutlastSlab.eot?#iefix') format('embedded-opentype'),
    url('assets/font/OutlastSlab.woff2') format('woff2'),
    url('assets/font/OutlastSlab.woff') format('woff'),
    url('assets/font/OutlastSlab.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outlast';
    src: url('assets/font/OutlastRegular.eot');
    src: local('Outlast'), local('OutlastRegular'),
    url('assets/font/OutlastRegular.eot?#iefix') format('embedded-opentype'),
    url('assets/font/OutlastRegular.woff2') format('woff2'),
    url('assets/font/OutlastRegular.woff') format('woff'),
    url('assets/font/OutlastRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*::selection {
    background-color: #e14e22;
}

html {
    scroll-behavior: smooth;
    font-family: "Share Tech Mono", serif;
}

.outlast {
    font-family: 'Outlast Slab', serif;
}

.swiper {
    padding-bottom: 50px;
}

.swiper-pagination-bullet {
    background-color: #ffffff !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet-active {
    background-color: #e14e22 !important;
}

.grecaptcha-badge {
    visibility: hidden;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid white;
    border-right-color: #fc582a;
    animation: l2 1s infinite linear;
}

@keyframes l2 {
    to {
        transform: rotate(1turn)
    }
}